body{
    background: #e4dfbe;
}
.head-background{
    background: url("../../img/nuicam/Header_1000x115px.png");
    height: 115px;
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}
.head-background a{
    float: right;
    margin-right: 10px;
}
.head-background a:first-child{
    float: left;
}
.head-background img{
    float: left;
}
.background-content{
    line-height: 98px;
    height: 98px;
}
.element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#nav_desktop{
    width: 1000px;
    margin: auto;
}
#nav_desktop .col-md-12{
    padding: 0px;
}
.navbar-default{

}
@media (min-width: 768px){
    .navbar-nav>li>a{
        padding: 8px 12px;
    }
}
.homepage-footer{
    background: url("../../img/nuicam/Bg_Footer_1000x312px.png");
    /*background-size: cover;*/
    background-repeat: repeat;
    background-position: center center;
    /*height: 250px;*/
}
.category-list{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*.category-list ul li{
    display: inline-block;

}*/
.category-list .row div{
    text-align: center;
}
.category-list .row div a{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color:#ffffff;
}
.homepage-footer p{
    text-align: center;
}
.homepage-footer p:first-child{
    font-weight: bold;
    margin-top: 30px;
}
.container{
    padding: 0px;
    width: 1000px;
}
.navbar{
    min-height: 0px;
}
.navbar-nav > li a{
    color: #ffffff;
    font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-nav > li a {
     color: #ffffff;
    font-weight: bold;
}
.fa-angle-down{
    display: none;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.page-background{
    min-height: 300px;
    background: url("/img/nuicam/slider_small.jpg");
}
.bar{
    background: #c4dff2;
    height: 100%;min-height: 300px;
    padding: 0px;
}
.space{
    background: url("/img/nuicam/Bg_Blue_1px.png");
    height: 5px;
}
.box-header{
    text-align: center;

    margin-top: 1px;
    padding: 3px 0px;
}
.box-header a{
    color: #0046ba;
    font-weight: bold;
    font-size: 1.1em;
}
.box-content{
    padding-top: 5px;
}
.box-content > div{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #ffffff;
    /*padding-bottom: 3px;*/
    padding-top: 5px;
}
.box-content div:last-child{

}
.box-content div a{
    text-align: justify;
    color: #0046ba;
}
.box-content .row{
    width: 100%;
    margin-top: 0px;
    padding: 0px;
}
.box-content .row div{
    width: 100%;
    padding: 3px;
}
.box-footer{
    text-align: right;
    padding-right: 5px;
    padding-bottom: 10px;
}
.box-footer a{
    color: #0040D0;
    font-weight: bold;
    font-style: italic;
}
.article > .col-md-12{
    padding-top: 10px;
}
.article_body{
    margin-top: 10px;
}
.article > .col-md-12 > span{
    color: #0046ba;
    font-weight: bold;
    font-size: 1.5em;
}
.article-container .row{
    background: #c4dff2;
}
.article-show, .news-show{
    background: #ffffff;
}
.news-show .col-xs-12{
    background: #ffffff;
}
.navbar-inner{
    /*background: url("/img/nuicam/Pattern_Silver_302px.png");*/
    background: url("/img/nuicam/Bg_Dropdownlist_302x302px.png");
    background-repeat: repeat-x;
}
.navbar-default{
    /*background: darkblue;*/
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    /*color: #ffff00;*/
    color: #ffffff;
    background: none;
}
.navbar-default .navbar-nav>.open>a:hover {
    color: #ffff00;
}
.navbar-nav li:hover > a{
    color: #ffff00 !important;
    background: none;
}
.navbar-nav li ul{
    background: url("/img/nuicam/Bg_Dropdownlist_302x302px.png");
}
.dropdown-menu li:hover{
    background: none;
    color: red;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffff00;
    background: none;
}
.thumbnail{
    margin: 0px;
    /*margin-top: 10px;*/
}
.box-content .col-md-12{
    border: none;
}
.open:hover a{
    color: #ffffff;
}
.news-content .col-md-12{
    border-top: 1px solid #0046ba;
    padding-top: 5px;
}
.news-content .col-md-12{
    margin-bottom: 10px;
}

.news-content div{
    padding-left: 0px;
    padding-right: 0px;
}
.news-content .preview-title{
    margin-bottom: 5px;
    padding-left: 10px;
}
.news-content .preview-title a{
    color: #0046ba;
    font-weight: bold;
}
.news-content .preview-content{
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 10px;
}
.news-content .read-more{
    float: right;
    font-weight: bold;
    font-style: italic;
}
.page-title{
    color: #0046ba;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-show{
    padding-left: 30px;
}
.news-pagination{
    text-align: center;
}
.news-pagination a, .news-pagination span{
    color: #01AAD5;
}
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#f5f5f5;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}

.byline{
    display: none;
}
.timestamp{
    display: none;
}
.relative-post{
    padding: 10px 0px 10px 15px;
}
.relative-post > div:first-child{
    font-size: 1.2em;
    font-weight: bold;
    color: #0046ba;
    margin-top: 20px;
}
.relative-post > div:last-child ul{
    padding-left: 0px;
}
.relative-post > div:last-child li{
    list-style: none;
    color: #01AAD5;
}
.relative-post > div:last-child li:before{
    list-style: none;
    content: '>';
    margin: 0 1em 0 0;
}
.article_body{
    margin-bottom: 20px;
}
.news-show .news-content{
    background: #ffffff;
}
@media (max-width: 768px) {
    #nav_desktop{
        display: block;
    }
}
/*
#nav_desktop .navbar .nav > li{
    display: webkit-block;
}*/
